body {
    margin: 0;
    font-family: Arial;
}
.sidebar {
     background: rgb(0, 0, 71);
     align-items: center;
     justify-content: space-between;
     min-height: 60px;
     width: 100%;
     position: sticky;
     top: 0;
}
.sidebar a {
    text-align: center;
    font-weight: 700;
    color: rgb(87, 221, 248);
    flex: 1;
    text-align: center;
    padding: 25px;

}


.project {
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: larger;
    color: white;
    letter-spacing: 3px;
}
.front_page {
    text-align: center;
    padding: 80px 20px;
}
.front_page h1 {
    font-size: 60px;
    color: transparent;
    background-image: url('images/image.jpg');
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}
.sub {
    margin: 40px auto;
    color: rgb(87, 221, 248);
    letter-spacing: 4px;
}
.info {
     color: white;
     display:  inline-block;
     border: 1px solid white;
     padding: 15px 25px;
     text-align: left;
}
.content {
     background-color: rgb(0, 0, 71);
}
.intro {
     color: white;
}
.intro h1 {
     color: aqua;
     padding-left: 30px;
}
.line {
     width: 80%;
     margin: 20px;
}
.int {
     padding-left: 30px;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 60px;
}
.tic h1 {
     color:aqua;
     padding-left: 30px;
}

.ttic {
    color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 60px; 
     padding-left: 30px;  
}
.go {
     color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 10px; 
     padding-left: 30px;
     padding: 40px;
    line-height: 1.7;
    font-size: 16px;
     
}
.go h1 {
     color:aqua;
    
}
.li {
    color: pink;
}
.b {
    color: plum;
}
.microsoft {
    color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 10px; 
     padding-left: 30px;
     padding: 40px;
    line-height: 1.7;
    font-size: 16px;
}
.microsoft h1 {
    color: aqua;
}
.web {
    color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 10px; 
     padding-left: 30px;
     padding: 40px;
    line-height: 1.7;
    font-size: 16px;
}
.web h1 {
    color: aqua;
}.latex {
     color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 10px; 
     padding-left: 30px;
}
.latex h1 {
    color: aqua;
}
.git {
    color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 10px; 
     padding-left: 30px;
     padding: 40px;
    line-height: 1.7;
    font-size: 16px;
}
.git h1 {
    color: aqua;
}
.conclusion {
    color: white;
     margin-top: 50px;
     line-height: 1cm;
     font-size: 18px;
     text-indent: 10px; 
     padding-left: 30px;
}
.conclusion h1 {
    color: aqua;
}
.tic {
    padding: 40px;
    line-height: 1.7;
    font-size: 16px;
}
.img {
    float: right;
    border-radius: 6px;
    width: 40%;
    padding: 40px;
}
.t {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  color: pink;
}
t, th, td {
border: 1px solid;
border-collapse: collapse;
text-align: center;
}
.t th {
    background-color: pink;
    color: black;
}